@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* PARA CORES */
    --bg-white: #FFFAFA;
    --black-1: #2B2222;
    --brown-1: #816765;
    --brown-2: #C97961;
    --red-1: #F66055;
    --grey-1: #ECE9E9;
    --grey-2: #cac9c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

/* PERFIL NOVO */
.wrapper {
    background-color: var(--bg-white);
    min-height: 100vh;
    color: var(--black-1);
}

.wrapper__content {
    max-width: 1000px;
    margin: 0 auto;
    /* border: 2px solid green; */
    padding: 3rem 1rem 2rem;
}

.wrapper__content__profile {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.wrapper__content__profile>figure {
    height: 160px;
    width: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.wrapper__content figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__descriptions {
    text-align: center;
}

.profile__descriptions h2 {
    font-weight: 700;
}

.profile__descriptions small {
    color: var(--brown-1);
}

.profile__socials-medias {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profile__socials-medias figure {
    width: 35px;
    height: 35px;
    transition: .2s ease-in-out;
}

.profile__socials-medias figure:hover {
    transform: translateY(-5px);
}

.profile__socials-medias figure:hover img {
    filter: invert(58%) sepia(62%) saturate(389%) hue-rotate(326deg) brightness(83%) contrast(87%);
}

.profile__socials-medias figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile__experience {
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.profile__experience>div {
    text-align: center;
    flex: 1 0 100px;
}

.profile__experience>div span {
    color: var(--brown-1);
}

.wrapper__content__informations {}

.informations__bar {
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informations__bar--cv {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;

}

.informations__bar--cv .download {
    text-decoration: none;
    background: var(--red-1);
    color: white;
    padding: .5rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
}

.informations__bar--cv a img {
    text-decoration: none;
    width: 1.5em;
}

.informations__bar--cv .wpp {
    background: var(--grey-1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .2s ease-in-out;
}

.informations__bar--cv .wpp:hover {
    background: var(--grey-2);
}

.informations__bar--cv .wpp img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}





.max-width-50 {
    max-width: 50%;
    margin: 0 auto;
}

@media(max-width: 300px) {
    .profile__experience {
        flex-wrap: wrap;
        gap: .5rem;
    }

    .max-width-50 {
        max-width: 100%;
    }
}


































/* PERFIL ANTIGO */

.container {
    background: url("https://images.pexels.com/photos/125510/pexels-photo-125510.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat;
    height: 130vh;
    background-size: cover;
    background-position: center;
}

.user {
    color: white;
}

.imagem-perfil {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.imagem-perfil img {
    border-radius: 50%;
    width: 100px;
}

.user {
    text-align: center;
}

.links {

    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
}

.links>a {
    width: 100%;
    flex: 1 2500px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin: 20px;
    padding: 2%;
    border-radius: 30px;
    background: white;


    transition: 0.3s;
}

.links>a:hover {
    transform: translateY(10%);
}

.line {
    text-align: center;
    font-size: 0.7rem;
    -webkit-box-shadow: 13px 10px 0px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 13px 10px 0px -1px rgba(0, 0, 0, 1);
    box-shadow: 13px 10px 0px -1px rgba(0, 0, 0, 1);
}

.links a {
    text-decoration: none;
    color: black;
    overflow-wrap: break-word;
    word-break: break-word;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons i {
    margin: 2%;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition: 0.1s;
}

.icons i:hover {
    font-size: 2.2rem;
}


@media screen and (max-width: 683px) {
    .container {
        height: 110vh;
    }
}